* {
    color: #c7c7c7;
}

body {
    background: linear-gradient(45deg, #0f0f0f, #2c2c2c);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 11px;
    color: #c7c7c7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #212121;
}

.title {
    /* display: flex; */
    /* border: 4px solid #121212; */
    border-radius: 8px;
    padding: 5px;
    margin: 0px 0px 3px 0px;
}

name {
    font-size: 4vw;
    color: #ac1a10;
    font-variant: small-caps;
}

.today {
    float: right;
    color: #64bb00;
    font-size: 3vw;
}

.addform {
    /* display: flex; */
    /* border: 4px solid #121212; */
    border-radius: 8px;
    padding: 0px;
    width: 100%;
}

.nameaddform {
    /* width: fit-content; */
    font-size: 3vw;
}

.addbutton {
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vw;
    padding: 15px;
    background-color: #121212;
    color: aliceblue;
    border: none;
}

.addbutton:active {
    background-color: #191919;
}

.grid-container {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
}

.grid-item {
    max-width: 45%;
    margin: 10px;
    background-color: #ccc;
}

.countdown {
    margin: 5px;
    padding: 10px 15px 10px 15px;
    background-color: #121212;
    border-radius: 8px;
}

.titlecd {
    font-size: 3.75vw;
}

.cd {
    font-size: 2.75vw;
}

span.delete {
    float: right;
    user-select: none;
    font-size: 3.75vw;
    color: #f0370e;
    margin: 0px 0px 0px 50px;
}

input {
    margin: 0;
    background-color: #313131;
    border: 2px solid #1a1a1a;
    border-radius: 5px;
    font-size: 2.5vw;
    width: 70%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#name {
    margin: 0px 0px 3px 0px;
}

hr {
    border: solid #121212 2px;
}